Repository samuelthomas2774/node-acp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, audit

.gitlab-ci.yml:

# This file is a template, and might need editing before it works on your project.
# Official framework image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/node/tags/
image: node:latest

# This folder is cached between builds
# http://docs.gitlab.com/ce/ci/yaml/README.html#cache
cache:
    paths:
        - node_modules/

build:
    stage: build
    script:
        - npm --color="always" install
        - npx tsc

        - PACKAGE_PATH=`npm --color="always" pack`
        - mv $PACKAGE_PATH node-acp-release.tgz
    artifacts:
        paths:
            - dist
            - node-acp-release.tgz
    only:
        changes:
            - .gitlab-ci.yml
            - package-lock.json
            - tsconfig.json
            - src/**/*
    except:
        variables:
            - $NPM_AUDIT_SCHEDULE_SKIP_BUILD

test:
    stage: test
    script:
        - npx qunit dist/test/**.js
    except:
        variables:
            - $NPM_AUDIT_SCHEDULE_SKIP_BUILD
    dependencies:
        - build
    cache:
        paths:
            - node_modules/
        policy: pull

firmware-test:
    stage: test
    script:
        - PATH=`pwd`/bin:$PATH npx
    dependencies:
        - build
    cache:
        paths:
            - node_modules/
        policy: pull

lint:
    stage: test
    script:
        - npx eslint --color src/**/*.ts
    only:
        changes:
            - .gitlab-ci.yml
            - package-lock.json
            - .eslintrc.js
            - src/**/*.ts
    except:
        variables:
            - $NPM_AUDIT_SCHEDULE_SKIP_BUILD
    dependencies: []
    cache:
        paths:
            - node_modules/
        policy: pull

audit:
    stage: test
    script:
        - npm audit --json > npm-audit.json || true
        - npm --color="always" audit
    artifacts:
        paths:
            - npm-audit.json
        when: always
    only:
        changes:
            - .gitlab-ci.yml
            - package-lock.json
    dependencies: []
    cache:
        paths:
            - node_modules/
        policy: pull
    when: always
    allow_failure: true

publish-npm:
    stage: deploy
    script:
        - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > .npmrc
        - npm --color="always" publish
    dependencies:
        - build
    only:
        refs:
            - /^v.*$/
        variables:
            - $NPM_TOKEN
    except:
        - branches
    cache:
        paths:
            - node_modules/
        policy: pull

publish-github:
    stage: deploy
    script:
        # Update the package.json and package-lock.json
        - "node -e \"fs.writeFileSync('package.json', JSON.stringify((json => {json.name = '@samuelthomas2774/node-acp'; json.publishConfig = {access: 'public'}; return json;})(JSON.parse(fs.readFileSync('package.json', 'utf-8'))), null, 4) + '\\n', 'utf-8')\""
        - "node -e \"fs.writeFileSync('package-lock.json', JSON.stringify((json => {json.name = '@samuelthomas2774/node-acp'; return json;})(JSON.parse(fs.readFileSync('package-lock.json', 'utf-8'))), null, 4) + '\\n', 'utf-8')\""

        - echo "//npm.pkg.github.com/:_authToken=${GITHUB_NPM_TOKEN}" > .npmrc
        - npm --color="always" --registry=https://npm.pkg.github.com/ publish
    dependencies:
        - build
    only:
        refs:
            - /^v.*$/
        variables:
            - $GITHUB_NPM_TOKEN
    except:
        - branches
    cache:
        paths:
            - node_modules/
        policy: pull

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: build, lint, audit

Update firmware decryption test script
  scripts/test-firmware.sh
Due: none

Update dependencies
  package-lock.json
  package.json
Due: build, lint, audit

v0.4.0
  package-lock.json
  package.json
Due: build, lint, audit

Fix error getting properties
  src/lib/property.ts
Due: build, lint

Fix MAC address formatting
  src/lib/property.ts
Due: build, lint

Add IPv4/IPv6 property types
  package-lock.json
  package.json
  src/lib/property.ts
  types/ip6addr.d.ts
Due: build, lint, audit

Add a command to try and get an unknown property
  src/cli/index.ts
  src/lib/client.ts
  src/lib/property.ts
Due: build, lint

Property validators
  src/index.ts
  src/lib/properties.ts
  src/lib/property.ts
  src/lib/server.ts
Due: build, lint

Remove logging by default
  src/cli/index.ts
  src/index.ts
  src/lib/client.ts
  src/lib/firmware.ts
  src/lib/property.ts
  src/lib/server.ts
  src/lib/session.ts
Due: build, lint

Add more properties and add a command to dump all debug data
  src/cli/index.ts
  src/lib/properties.ts
Due: build, lint

Support binary plist properties and add HomeKit pairing data
  package-lock.json
  package.json
  src/cli/index.ts
  src/lib/properties.ts
  src/lib/property.ts
  types/bplist-creator.d.ts
  types/bplist-parser.d.ts
Due: build, lint, audit

Support outputting/setting from JSON and fix setting multiple properties
  src/cli/index.ts
  src/lib/client.ts
Due: build, lint

Add boolean, uint8, uint16, uint32 and uint64 property types
  src/cli/index.ts
  src/lib/properties.ts
  src/lib/property.ts
Due: build, lint

Use buffers and support bigints in CFLBinaryPLists
  src/lib/cflbinary.ts
Due: build, lint

Only allow a single function to use the session at a time
  src/lib/client.ts
  src/lib/session.ts
Due: build, lint

Add functions to handle advertisement data
  src/cli/index.ts
  src/index.ts
  src/lib/util.ts
Due: build, lint

Lint
  src/lib/client.ts
  src/lib/properties.ts
  src/lib/property.ts
Due: build, lint

Fix TS2454: Variable 'i' is used before being assigned
  src/lib/util.ts
Due: build, lint

Support serialising bigints to JSON
  src/cli/index.ts
  src/lib/property.ts
  src/lib/util.ts
Due: build, lint

Add property list types
  src/cli/index.ts
  src/index.ts
  src/lib/client.ts
  src/lib/properties.ts
  src/lib/property-types.ts
  src/lib/property.ts
Due: build, lint

Add device specific PSKs
  src/lib/property-types.ts
Due: build, lint

Add read only/no access file sharing access values
  src/lib/property-types.ts
Due: build, lint

Add IPv6 firewall types
  src/lib/property-types.ts
Due: build, lint

Add HomeKit access level values
  src/lib/properties.ts
  src/lib/property-types.ts
Due: build, lint

Lint
  src/lib/client.ts
Due: build, lint

Add UUID property types
  src/lib/properties.ts
  src/lib/property.ts
Due: build, lint

Add IPv6 firewall types
  src/lib/properties.ts
  src/lib/property-types.ts
Due: build, lint

Handle errors requesting one property of multiple
  src/cli/index.ts
  src/lib/client.ts
  src/lib/property.ts
Due: build, lint

Add a command to request a list of properties
  src/cli/index.ts
Due: build, lint

Require Node.js v10.8
  README.md
  package.json
  tsconfig.json
Due: build

Lint
  .eslintrc.js
  src/cli/index.ts
  src/lib/client.ts
  src/lib/properties.ts
  src/lib/property.ts
  src/lib/server.ts
  src/lib/util.ts
Due: build, lint

Add IPv6 firewall types for restore profiles
  src/lib/property-types.ts
Due: build, lint
