Repository samuelthomas2774/node-acp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, lint, audit

build:
  stage: build
  script:
  - npm --color="always" install
  - npx tsc
  - PACKAGE_PATH=`npm --color="always" pack`
  - mv $PACKAGE_PATH node-acp-release.tgz
  artifacts:
    paths:
    - dist
    - node-acp-release.tgz

lint:
  stage: test
  script:
  - npx eslint --color src/**/*.ts
  dependencies: []
  cache:
    paths:
    - node_modules/
    policy: pull

audit:
  stage: test
  script:
  - npm audit --json > npm-audit.json || true
  - npm --color="always" audit
  artifacts:
    paths:
    - npm-audit.json
    when: always
  dependencies: []
  cache:
    paths:
    - node_modules/
    policy: pull
  when: always
  allow_failure: true

v0.5.0
  package-lock.json
  package.json
Due: build, lint, audit

Use mdns instead of bonjour
  package-lock.json
  package.json
  src/cli/index.ts
  src/lib/util.ts
  tsconfig.json
Due: build, lint, audit

Add message and error types
  src/lib/message.ts
Due: build, lint

Add monitor support
  src/cli/index.ts
  src/index.ts
  src/lib/client.ts
  src/lib/session.ts
Due: build, lint

Ask for a password if one isn't provided
  package-lock.json
  package.json
  src/cli/index.ts
Due: build, lint, audit

Add a command to print (and follow) logs
  src/cli/index.ts
Due: build, lint

Fix log line count
  src/cli/index.ts
Due: build, lint

Return a readable stream when monitoring
  src/lib/client.ts
Due: build, lint

Working server implementation
  src/cli/server.ts
  src/lib/client.ts
  src/lib/message.ts
  src/lib/server.ts
Due: build, lint

Add a command to parse ACPData.bin files
  src/cli/index.ts
  src/lib/acpdata.ts
Due: build, lint

Add region data
  package.json
  resources/region-data.json
Due: none

Add RPC support
  src/index.ts
  src/lib/client.ts
  src/lib/rpc-types.ts
  src/lib/session.ts
Due: build, lint

Additional properties and status codes
  src/lib/properties.ts
  src/lib/property-types.ts
Due: build, lint

Add UUID helper class
  src/lib/property.ts
  src/lib/util.ts
Due: build, lint

Working server implementation
  .gitignore
  package-lock.json
  package.json
  src/cli/index.ts
Due: build, lint, audit

Session events
  src/cli/index.ts
  src/lib/acpdata.ts
  src/lib/client.ts
  src/lib/property.ts
  src/lib/server.ts
  src/lib/session.ts
Due: build, lint

Fix CI
  .gitlab-ci.yml
Due: build, lint, audit

Working server implementation
  src/cli/server.ts
Due: build, lint

Lint
  src/lib/client.ts
  src/lib/server.ts
  src/lib/session.ts
Due: build, lint

Fix version command and move firmware commands
  README.md
  bin/airport-firmware
  package.json
  scripts/test-firmware.sh
  src/cli/firmware.ts
  src/cli/index.ts
Due: build, lint

Lint and documentation comments
  src/cli/index.ts
  src/cli/server.ts
  src/index.ts
  src/lib/acpdata.ts
  src/lib/cflbinary.ts
  src/lib/client.ts
  src/lib/firmware.ts
  src/lib/keystream.ts
  src/lib/message.ts
  src/lib/property-types.ts
  src/lib/property.ts
  src/lib/rpc-types.ts
  src/lib/server.ts
  src/lib/session.ts
  src/lib/util.ts
  src/test/message.ts
Due: build, lint

Update dependencies
  package-lock.json
  package.json
Due: build, lint, audit

Fix type errors
  src/cli/server.ts
Due: build, lint

Move types
  package.json
  src/cli/server.ts
  src/index.ts
  src/lib/client.ts
  src/lib/property.ts
  src/lib/server.ts
  src/lib/util.ts
  src/types/properties.ts
  src/types/rpc.ts
Due: build, lint

Add LICENSE
  LICENSE
  package.json
Due: none

v0.6.0
  package.json
Due: none

Fix CI
  .gitlab-ci.yml
  package-lock.json
Due: build, lint, audit

acpd.system.interfaces types
  src/types/rpc.ts
Due: build, lint

Don't include the key header for encrypted connections
  src/lib/client.ts
  src/lib/message.ts
Due: build, lint

Add `raSL` (connected Wi-Fi stations) to the list of properties supported in monitor data
  src/lib/client.ts
Due: build, lint

Move monitor types
  src/index.ts
  src/lib/client.ts
  src/types/monitor.ts
Due: build, lint

Always throw errors for response messages with an error code
  src/lib/client.ts
  src/lib/message.ts
  src/lib/util.ts
Due: build, lint

Update dependencies
  README.md
  package-lock.json
  package.json
Due: build, lint, audit

Lint
  .eslintrc.js
  src/lib/cflbinary.ts
  src/lib/client.ts
  src/lib/message.ts
  src/lib/property.ts
  src/lib/server.ts
  src/lib/session.ts
  src/lib/util.ts
Due: build, lint

Write info logs to stderr to support redirecting output to a file
  src/cli/index.ts
  src/lib/client.ts
  src/lib/firmware.ts
  src/lib/session.ts
Due: build, lint

Disable esModuleInterop
  src/cli/firmware.ts
  src/cli/index.ts
  src/lib/client.ts
  src/lib/firmware.ts
  src/lib/message.ts
  src/lib/property.ts
  src/lib/server.ts
  src/lib/session.ts
  src/test/message.ts
  tsconfig.json
  types/bplist-creator.d.ts
Due: build, lint

Lint
  .gitlab-ci.yml
  types/fast-srp-hap.d.ts
Due: build, lint, audit

v0.7.0
  package-lock.json
  package.json
Due: build, lint, audit

Path conditions:
  build: any of: .gitlab-ci.yml, package-lock.json, tsconfig.json, src/**/*
  lint: any of: .gitlab-ci.yml, package-lock.json, .eslintrc.js, src/**/*.ts
  audit: any of: .gitlab-ci.yml, package-lock.json
